/* Base */
body {
    background: #000;

    font-family: sans-serif;
    font-size: 16px;
    color: #ddd;

    padding: 20px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffc400;
}
strong {
    color: #ffc400;
    font-weight: bolder;
}
nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* Botão */
.btn {
    display: inline-block;
    background: #ffc400;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 20px;
    border: 0;
    transition: all 0.3s;
}
.btn:hover {
    background: #e67b00;
}

/* Card */
.card {
    background: #121212;
    
    padding: 20px;
    border-radius: 10px;
}

/* Lista */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    gap: 2em;
}
.status {
    font-size: 0.8em;
    color: #121212;
    padding: 2px 6px;
    border-radius: 4px;
    background: #ddd;
}
.description {
    font-size: 0.8em;
    margin-left: 1em;
}
.task-actions {
    display: flex;
    gap: 1em;
}

/* Formulario */
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
    color: #ffc400;
    font-weight: bold;
}
input, textarea, select {
    width: 100%;
    padding: 12px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
}
input:focus, textarea:focus {
    outline: none;
    border-color: #ffc400;
}
